<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .todo-list {
      display: inline-block;
      width: 33%;
    }
  </style>
  
</head>
<body>
  <div id="app">
    <div class="todo-list">
      <h2>취업 준비</h2>
      <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
      <button @click="addTodo">+</button>
      <li v-for="todo in jobTodo" :key="todo.id">
        <span>{{ todo.content }}</span>
        <button @click="removeTodo(todo.id)">x</button>
      </li>
    </div>
    <div class="todo-list">
      <h2>SSAFY</h2>
      <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
      <button @click="addTodo">+</button>
      <li v-for="todo in ssafyTodo" :key="todo.id">
        <span>{{ todo.content }}</span>
        <button @click="removeTodo(todo.id)">x</button>
      </li>
    </div>
    <div class="todo-list">
      <h2>기타</h2>
      <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
      <button @click="addTodo(Todos)">+</button>
      <li v-for="todo in extTodo" :key="todo.id">
        <span>{{ todo.content }}</span>
        <button @click="removeTodo(todo.id)">x</button>
      </li>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        jobTodo: [],
        ssafyTodo: [],
        extTodo: [],
        newTodo: '',
      },
      methods: {
				addTodo: function(Todos) {
          if (this.newTodo.length !== 0) {
            Todos.push({
              id: Date.now(),
              content: this.newTodo,
              completed: false,
            })
            this.newTodo = ''
          }
				},
				// 어제는 clearCompleted로 한번에 완료된 목록 삭제
				// 이번에는 특정 todo를 삭제!
				removeTodo: function(todoId) {
          this.todo = this.todo.filter(todo => {
            return todo.id !== todoId
          })
				}
      }
    })
  </script>
</body>
</html>