<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <select v-model="selected">
        <option v-for="n in 10" :value="n">{{ n }}</option>
      </select>
      <button @click="getDogImage">Get {{ selected }} Dogs!</button>
      <div v-for="image in images">
          <img :src="image" alt="Dog image" height="300px">
      </div>
      
  </div>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        selected: 1,
        images: [],
      },
      methods: {
        getDogImage: function() {
          const URL = `https://dog.ceo/api/breeds/image/random/${this.selected}`
          axios.get(URL)
          .then(res => {
            this.images = res.data.message
          })
        }
      }
    })
  </script>
</body>
</html>