<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .completed {
      text-decoration: line-through;
      opacity: 0.6;
    }
  </style>
</head>
<body>
  <div id="app">
      <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
        Styling Test
      </div>
      <img v-bind:src="vueImage">
    <select v-model="status">
      <option value="all">all</option>
      <option value="active">active</option>
      <option value="completed">completed</option>
    </select>
    <!-- key는 Vue의 각각의 노드(HTML element)에 대해 고유한 ID를 지정할 때 사용
    v-for 디렉티브로 반복되어 렌더링 된 HTML element를 Vue는 :key로 기억한다.
    -->

    <li v-for="todo in computedTodosByStatus" v-bind:class="todo.completed ? 'completed' : ''" v-bind:key="todo.id">
      <input type="checkbox" v-model="todo.completed">
      <span>{{ todo.content }}</span>
    </li>
    <div>
      <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
      <button v-on:click="addTodo">+</button>
    </div>
    <footer>
      <button v-on:click="clearCompleted">Clear Completed</button>
    </footer>
  </div>

    <!-- view 만드는 script가 위에 여기 있어야! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      // storage_key는 임의로 지정 가능
      const STORAGE_KEY = 'vue-todos'
      const todoStorage = {
        fetch: function() {
          // parse: String -> JSON
          // localStorage에서 아이템을 가져옴
          return JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
        },
        save: function(todos) {
          // localStorage에 아이템을 저장
          // stringify: JSON -> String
          localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
        }
      }

      const app = new Vue({
        // DOM(View)와 Vue instance(View-Model)을 연결(mount)
        el: '#app',
        data: {
          activeColor: 'green',
          fontSize: 30,
          todos: [
            {
              id: 1,
              content: '점심 메뉴 고민하기',
              completed: false,
            },
            {
              id: 2,
              content: '사다리 타기',
              completed: false,
            },
            {
              id: 3,
              content: '약속의 2시, 낮잠 자기',
              completed: false,
            },
            {
              id: 4,
              content: '야자하기',
              completed: false,
            },
            {
              id: 5,
              content: '비쥬 얼 스튜디오 설치하기',
              completed: false,
            }
          ],
          newTodo: '',
          status: 'all', //all, active(완료되지 않은 일), completed(완료된 일)
          vueImage: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTcMuMHBi03LuaJDPbiVUSzxYBKKfZ5GWdxbE2p_0o5m-CipEHX'
        },
        methods: {
          check: function(todo) {
            todo.completed = !todo.completed
          },
          addTodo: function() {
            if (this.newTodo.length !== 0) {
              this.todos.push({
                id: Date.now(),
                content: this.newTodo,
                completed: false,
              })
              // value clear
              this.newTodo = ''
              }
            },
          clearCompleted: function() {
            const notCompletedTodos = this.todos.filter(todo => {
              return !todo.completed
            })
            this.todos = notCompletedTodos
          },
        },
        computed: {
          computedTodosByStatus: function() {
            // 진행중인 일 (완료되지 않은 일)
            if (this.status === 'active') {
              return this.todos.filter(todo => {
                // completed가 false인 애들을 보여주겠다.
                return !todo.completed
              })
            }
            // 완료된 일
            if (this.status === 'completed') {
              return this.todos.filter(todo => {
                return todo.completed
              })
            }
            // 모두(active, completed)
            return this.todos
          },
        },
        // watch: vue 인스턴스의 data 변화(경)를 관찰하고 이에 반응
        // 데이터 변경에 대한 응답으로 비동기식 또는 시간이 많이 소요되는 조작을 수행할 때 적합
        watch: {
          todos: {
            // handler: 특정 데이터가 변경 되었을 때 그걸 관찰하고 있다가 변화가 일어나면
            // 실행할 함수
            handler: function(todos) {
              todoStorage.save(todos)
            }
          },
          // deep: Object의 nested item들도 관찰 유무(내부 요소도 감시 할거임?)
          deep: true,
        },
        mounted: function() {
          this.todos = todoStorage.fetch()
        }
      })
    </script>
</body>
</html>