{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block body %}
{% if request.resolver_match.url_name == 'signup' %}
    <h1>SIGNUP</h1>
{% elif request.resolver_match.url_name == 'login' %}
    <h1>LOGIN</h1>
{% elif request.resolver_match.url_name == 'update' %}
    <h1>USER UPDATE</h1>
{% else %}
    <h1>CHANGE_PASSWORD</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit="Submit" reset="Cancel"%}{% endbuttons %}
</form>
{% endblock %}